In [2]:
import pyspark
spark= pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/09 17:18:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/09 20:11:26 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1460690 ms exceeds timeout 120000 ms
22/09/09 20:11:26 WARN SparkContext: Killing executors is not supported by current scheduler.

In [5]:
import pandas as pd
import numpy as np
from pydataset import data

## Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [7]:
pro_lang=['Python','R','Ruby','Javascript','HTML','CSS','MySQL','AWS','C++', 'C','Scala']

In [8]:
# panda dataframe
favorite_df = pd.DataFrame({'language':pro_lang})
favorite_df

      language
0       Python
1            R
2         Ruby
3   Javascript
4         HTML
5          CSS
6        MySQL
7          AWS
8          C++
9            C
10       Scala

In [9]:
#spark dataframe
fav_prog = spark.createDataFrame(favorite_df)

In [10]:
fav_prog.show()

+----------+
|  language|
+----------+
|    Python|
|         R|
|      Ruby|
|Javascript|
|      HTML|
|       CSS|
|     MySQL|
|       AWS|
|       C++|
|         C|
|     Scala|
+----------+

In [11]:
# schema of dtaframe
fav_prog.printSchema()

root
 |-- language: string (nullable = true)

In [12]:
#shape of data
fav_prog.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|      11|
|   mean|    null|
| stddev|    null|
|    min|     AWS|
|    max|   Scala|
+-------+--------+

In [13]:
# another method to check the shape
fav_prog.count()

11

In [14]:
# first 5 observations
fav_prog.show(5)

+----------+
|  language|
+----------+
|    Python|
|         R|
|      Ruby|
|Javascript|
|      HTML|
+----------+
only showing top 5 rows

## Load the mpg dataset as a spark dataframe.

### Create 1 column of output that contains a message like the one below:


- The 1999 audi a4 has a 4 cylinder engine.
For each vehicle.

- Transform the trans column so that it only contains either manual or auto.

In [17]:
#create a mpg spark dataframe
mpg = spark.createDataFrame(data('mpg'))
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [19]:
# import functions from pyspark.sql.functions
from pyspark.sql.functions import *

In [25]:
mpg.select(concat(lit('The '),mpg.year,lit(' '),mpg.manufacturer,lit(' '),mpg.model,lit(' '),lit('has a '), mpg.cyl,lit(' cylinder engine '))).show(truncate=False)

+--------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  , has a , cyl,  cylinder engine )|
+--------------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine                                        |
|The 1999 audi a4 has a 4 cylinder engine                                        |
|The 2008 audi a4 has a 4 cylinder engine                                        |
|The 2008 audi a4 has a 4 cylinder engine                                        |
|The 1999 audi a4 has a 6 cylinder engine                                        |
|The 1999 audi a4 has a 6 cylinder engine                                        |
|The 2008 audi a4 has a 6 cylinder engine                                        |
|The 1999 audi a4 quattro has a 4 cylinder engine                                |
|The 1999 audi a4 quattro has a 4 cylinder engine                                |
|The 2008 audi a4 quattro has a 4 cylinder engine                                |
|The 2008 audi a4 quattro has a 4 cylinder engine                                |
|The 1999 audi a4 quattro has a 6 cylinder engine                                |
|The 1999 audi a4 quattro has a 6 cylinder engine                                |
|The 2008 audi a4 quattro has a 6 cylinder engine                                |
|The 2008 audi a4 quattro has a 6 cylinder engine                                |
|The 1999 audi a6 quattro has a 6 cylinder engine                                |
|The 2008 audi a6 quattro has a 6 cylinder engine                                |
|The 2008 audi a6 quattro has a 8 cylinder engine                                |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine                   |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine                   |
+--------------------------------------------------------------------------------+
only showing top 20 rows

In [26]:
# Transform the trans column so that it only contains either manual or auto.

mpg.select( 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', regexp_extract('trans', r"(\w+)", 1)\
           .alias('transmission'), 'drv', 'cty', 'hwy', 'fl', 'class').show()

+------------+------------------+-----+----+---+----------+------------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|transmission|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+------------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|        auto|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|      manual|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|      manual|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|        auto|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|        auto|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|      manual|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|        auto|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|      manual|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|        auto|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|      manual|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|        auto|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|        auto|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|      manual|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|        auto|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|      manual|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|        auto|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|        auto|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|        auto|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|        auto|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|        auto|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+------------+---+---+---+---+-------+
only showing top 20 rows

## Load the tips dataset as a spark dataframe.

- What percentage of observations are smokers?
- Create a column that contains the tip percentage
- Calculate the average tip percentage for each combination of sex and smoker.

In [32]:
tips_df= spark.createDataFrame(data('tips'))
tips_df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [33]:
# percentage of smoker
(tips_df.filter(tips_df.smoker=='Yes').count()/tips_df.count()) * 100

38.114754098360656

In [35]:
# create a column with tips percentage
tips_df.select('total_bill', 'tip', 'sex','smoker', 'day','time','size', expr('(tip/total_bill)*100').alias('tip_percentage')).show(5)

+----------+----+------+------+---+------+----+------------------+
|total_bill| tip|   sex|smoker|day|  time|size|    tip_percentage|
+----------+----+------+------+---+------+----+------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|5.9446733372572105|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|16.054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|16.658733936220845|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 13.97804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|14.680764538430255|
+----------+----+------+------+---+------+----+------------------+
only showing top 5 rows

In [37]:
#average perentage for each combination of sex and smoker
tips_df.select('sex','smoker',expr('(tip/total_bill)*100').alias('tip_percentage')).groupby('sex','smoker').mean('tip_percentage').show()

+------+------+-------------------+
|   sex|smoker|avg(tip_percentage)|
+------+------+-------------------+
|  Male|    No|  16.06687151291298|
|  Male|   Yes| 15.277117520248513|
|Female|    No| 15.692097076918358|
|Female|   Yes|  18.21503526994103|
+------+------+-------------------+

## Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to fahrenheit.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).

In [41]:
pip install vega_datasets

Collecting vega_datasets
  Downloading vega_datasets-0.9.0-py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 3.2 MB/s eta 0:00:01
Requirement already satisfied: pandas in /usr/local/anaconda3/lib/python3.9/site-packages (from vega_datasets) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas->vega_datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas->vega_datasets) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas->vega_datasets) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->vega_datasets) (1.16.0)
Installing collected packages: vega-datasets
Successfully installed vega-datasets-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [47]:
from vega_datasets import data
import pyspark.sql.functions as f

In [44]:
# creating a spark dataframe
seattle = spark.createDataFrame(data('seattle_weather'))
seattle.show(5)

+-------------------+-------------+--------+--------+----+-------+
|               date|precipitation|temp_max|temp_min|wind|weather|
+-------------------+-------------+--------+--------+----+-------+
|2012-01-01 00:00:00|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02 00:00:00|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03 00:00:00|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04 00:00:00|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05 00:00:00|          1.3|     8.9|     2.8| 6.1|   rain|
+-------------------+-------------+--------+--------+----+-------+
only showing top 5 rows

In [45]:
#converting temperature to farenheit
seattle.select('date', 'precipitation', expr('ROUND(temp_max * 1.8 + 32)').alias('max_temp_F'),\
               expr('ROUND(temp_min * 1.8 + 32)').alias('min_temp_F')).show()

+-------------------+-------------+----------+----------+
|               date|precipitation|max_temp_F|min_temp_F|
+-------------------+-------------+----------+----------+
|2012-01-01 00:00:00|          0.0|      55.0|      41.0|
|2012-01-02 00:00:00|         10.9|      51.0|      37.0|
|2012-01-03 00:00:00|          0.8|      53.0|      45.0|
|2012-01-04 00:00:00|         20.3|      54.0|      42.0|
|2012-01-05 00:00:00|          1.3|      48.0|      37.0|
|2012-01-06 00:00:00|          2.5|      40.0|      36.0|
|2012-01-07 00:00:00|          0.0|      45.0|      37.0|
|2012-01-08 00:00:00|          0.0|      50.0|      37.0|
|2012-01-09 00:00:00|          4.3|      49.0|      41.0|
|2012-01-10 00:00:00|          1.0|      43.0|      33.0|
|2012-01-11 00:00:00|          0.0|      43.0|      30.0|
|2012-01-12 00:00:00|          0.0|      43.0|      29.0|
|2012-01-13 00:00:00|          0.0|      41.0|      27.0|
|2012-01-14 00:00:00|          4.1|      40.0|      33.0|
|2012-01-15 00:00:00|          5.3|      34.0|      26.0|
|2012-01-16 00:00:00|          2.5|      35.0|      27.0|
|2012-01-17 00:00:00|          8.1|      38.0|      32.0|
|2012-01-18 00:00:00|         19.8|      32.0|      27.0|
|2012-01-19 00:00:00|         15.2|      30.0|      27.0|
|2012-01-20 00:00:00|         13.5|      45.0|      30.0|
+-------------------+-------------+----------+----------+
only showing top 20 rows

In [48]:
# which month has most rain on average?

seattle.withColumn('month', f.month('date')).groupBy('month').agg(sum('precipitation').alias('average_rainfall_by_month'))\
.sort(f.desc('average_rainfall_by_month'))\
.show(1)

+-----+-------------------------+
|month|average_rainfall_by_month|
+-----+-------------------------+
|   11|                    642.5|
+-----+-------------------------+
only showing top 1 row

In [49]:
#Which year was the windiest?

seattle.withColumn('year', f.year('date')).groupBy('year').agg(sum('wind').alias('average_wind_by_year'))\
.sort(f.desc('average_wind_by_year'))\
.show(1)

+----+--------------------+
|year|average_wind_by_year|
+----+--------------------+
|2012|  1244.6999999999998|
+----+--------------------+
only showing top 1 row

In [50]:
#What is the most frequent type of weather in January

seattle.filter(f.month('date')==1).groupBy('weather').count().sort(f.desc('count')).show(1)

+-------+-----+
|weather|count|
+-------+-----+
|    fog|   38|
+-------+-----+
only showing top 1 row

In [51]:
#What is the average high and low temperature on sunny days in July in 2013 and 2014?

(seattle
.filter(col('weather') == 'sun')
.where(f.year('date').isin([2013,2014]))
.where(f.month('date') == 7)
# .groupBy(f.year('date').alias('year'))
.agg(avg('temp_min').alias('average_min_temp'),
    avg('temp_max').alias('average_max_temp'))
.show())

+-----------------+------------------+
| average_min_temp|  average_max_temp|
+-----------------+------------------+
|14.18269230769231|26.828846153846158|
+-----------------+------------------+

In [52]:
# What percentage of days were rainy in q3 of 2015?

(seattle
.filter(f.year('date') == 2015)
.where(f.quarter('date') == 3)
.select(avg((col('weather') == 'rain')
       .cast('int'))
 .alias('Q3 Rainy Days'))
.show())

+--------------------+
|       Q3 Rainy Days|
+--------------------+
|0.021739130434782608|
+--------------------+

In [53]:
# For each year, find what percentage of days it rained (had non-zero precipitation).
(seattle.groupBy(f.year('date'))
.agg(avg((col('precipitation') != 0).cast('int')).alias('percentage of non zero precipitation days')).show())

+----------+-----------------------------------------+
|year(date)|percentage of non zero precipitation days|
+----------+-----------------------------------------+
|      2012|                      0.48360655737704916|
|      2013|                      0.41643835616438357|
|      2014|                        0.410958904109589|
|      2015|                      0.39452054794520547|
+----------+-----------------------------------------+